@mixin sliders{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: .6s all;
}

@mixin hamburger-slice{
    height: 4px;
    width: 60%;
    background: #aaa;
    transition: all .3s;
}

@mixin hamburger-slice-pseudo{
    @include hamburger-slice();
    content: "";
    position: absolute;
    width: 100%;
    
}


.main-header{

    position: relative;



    &__nav-wrapper{
        position: fixed;   
        top: 0;
        z-index: 800;
        padding: 0 10%;
        
        width: 100%;
        transition: transform 1s;
    }

    &--fullscreen-menu{
        //transform: translateY(-50px);
       // animation: menu-switch 1s forwards;
    }

    &--fullscreen-menu &__nav-wrapper{
        //transform: translateY(-50px);
        animation: menu-switch 1s forwards;
    }

   

    

    &__nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &-ul{
            display: flex;
            list-style: none;
        }

        &-li{
            margin: 0 .5rem;
        }
    }


    &__toggle-input{
        display: none;
    }

    &--fullscreen-menu &__toggle-btn{
        display: flex;
    }

    &__toggle-btn{
        position: fixed;
        display: none;
        background: #eee;
        height: 5rem;
        width: 5rem;
        z-index: 1000;
        right: 2rem;
        top: 1.5rem;
        border-radius: 50%;
        cursor: pointer;
        box-shadow: 0 .2rem .5rem rgba(0,0,0,.5);
        display: none;
        justify-content: center;
        align-items: center;
        user-select: none;

        span{
            position: relative;
            @include hamburger-slice();
            //background-color: #eee;

            &::before{
                @include hamburger-slice-pseudo();
                top: -10px;
                //transform: translateY(10px) rotate(-45deg) ;
            }

            &::after{
                @include hamburger-slice-pseudo();
                top: 10px;

                //transform: translateY(-10px) rotate(45deg) ;
            }
        }

        &:hover{
            box-shadow: 0 .5rem 1rem rgba(0,0,0,.3);
        }
    }

    /* on menu checked */
    &__toggle-input:checked ~ &__toggle-btn{
        display: flex;
        span{
            background: #eee;

            &::before{
                transform: translateY(10px) rotate(-45deg) ;
            }
    
            &::after{
                transform: translateY(-10px) rotate(45deg) ;
            }
        }   
    }

    &__toggle-input:checked ~ &__slider-left{
        transform: translate(0,0); 
    }

    &__toggle-input:checked ~ &__slider-right{
        transform: translate(0,0); 
    }

    &--fullscreen-menu &__nav-wrapper{
       
        transform: translateY(-100%);
     
    }



    &__toggle-input:checked ~ &__nav-wrapper{ 
        width: 80%;
        max-width: 50rem;
        border-radius: 1rem;
        padding: 2rem 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: slide-down-menu 1s forwards;
        background: #fff;
        
        .main-header__nav{
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .main-header__nav-ul{
            flex-direction: column;
            margin: 0;
            padding: 0;
            width: 100%;
        }

        .main-header__nav-li{
            margin: .3rem 0;
            width: 100%;

            a{
                /*style mobile links*/
                padding: .3rem 1rem;
                width: 80%;
                max-width: 20rem;
                display: block;
                margin: 0 auto;
                text-align: center;                  
                font-size: 1.4rem;
                text-decoration: none;  
                color: #333;
                border-bottom: 2px solid #fff;
                background-image: linear-gradient(120deg, rgba(100,0,0,.6) 0%, rgba(100,0,0,.6)  50%, #fff 50%);
               
                background-size: 220%;
                transition: all .4s;
                background-position: 100%;
             
          

                &:hover{
                    border-bottom: 2px solid rgba(0,0,0,.6);
                    color: #fff;
                    background-position: 0%;
        
                }
            }
        }
    }

    @keyframes slide-down-menu{
        0%{
            transform: translate(-50%, -100%);
        }
        100%{
            transform: translate(-50%, -50%);
        }
    }

    &__language-options{
   
        flex-direction: row;


        justify-content: center;
        background: #ddd;
        display: flex;
        padding: .2rem .2rem;
        border-radius: .5rem;

        .main-header__nav-li{
            margin: 0 0;
           

            &:not(:last-child){
                border-right: 1px solid #aaa;
            }

            &:last-child a{
                border-top-right-radius: .5rem;
                border-bottom-right-radius: .5rem;
            }

            &:first-child a{
                border-top-left-radius: .5rem;
                border-bottom-left-radius: .5rem;
            }

            a{
                display: block;
                padding: .3rem .5rem;
            }



          
        }

        &--active a{
            background: #aaa;
        }
    }

   


    &__slider-left{
        @include sliders();
        background: rgba(100,0,0,.6);
        clip-path: polygon(0 0, 0 100%, 100% 0);
        transform: translate(-100%,100%);   

        @media only screen and (max-width: 500px){
            clip-path: polygon(0 0, 0 70%, 100% 30%,100% 0);
            transform: translate(-100%,40%);
            transition: .4s all;
        }
    }

    &__slider-right{
        @include sliders();
    
        background: rgba(0,0,0,.6);
        clip-path: polygon(0 100%, 100% 100%, 100% 0);
        transform: translate(100%, -100%);

        @media only screen and (max-width: 500px){
            clip-path: polygon(0 70%, 0 100%, 100% 100%, 100% 30%,);
            transform: translate(100%,-30%);
            transition: .4s all;
        }
    }

}

/*
    remove outline from label
    make sliders
*/